@charset "UTF-8";

tr.contentbox {
	height: 535px;
	background-color: #f8f8f8;
	border-collapse: collapse;
  	border-radius: 20px;
}

td.content {
	font-family: malgun;
	font-size: 20px;
	font-weight: bold;
	color: #303030;
	text-align: center;
}

td.content2 {
	font-family: malgun;
	font-size: 20px;
	font-weight: bold;
	color: #303030;
	text-align: center;
	vertical-align: top;
}




span.content_text01 {
	font-family: malgun;
	font-size: 20px;
	font-weight: bold;
	color: #003333;	
}

input.input_type01 {
	background-color: #ffffff;
	border: 1px solid #FED39F;
	width: 200px;
	font-family: Arial;
	font-size: 20px;
	color: #2a2a2a;
	padding: 5px;
}

input.input_type02 {
	background-color: #ffffff;
	border: 1px solid #FED39F;
	width: 200px;
	font-family: Arial;
	font-size: 20px;
	color: #2a2a2a;
	padding: 5px;
	size:50;
}

input.button_type01 {
	background-color: #2b2b2b;
	border: 2px solid #ffffff;
	width: 180px;
	height: 40px;
	font-family: malgun;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
	padding: 5px;
}

input.button_type01:hover {
	background-color: #000040;
	border: 2px solid #ffffff;
	width: 180px;
	height: 40px;
	font-family: malgun;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}

input.button_type02 {
	background-color: #2b2b2b;
	border: 2px solid #ffffff;
	width: 140px;
	height: 40px;
	font-family: malgun;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
	padding: 5px;
}

input.button_type02:hover {
	background-color: #f94f46;
	border: 2px solid #ffffff;
	width: 140px;
	height: 40px;
	font-family: malgun;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}

textarea.textarea_a1 {
	background-color: #ffffff;
	border: 1px solid #FED39F;
	width: 400px;
	font-family: Arial;
	font-size: 20px;
	font-weight:bold;
	color: #2a2a2a;;
	padding: 5px;
}



textarea.textarea_type01 {
	background-color: #ffffff;
	border:1px solid #FED39F;
	width: 400px;
	font-family: Arial;
	font-size: 20px;
	color: #2a2a2a;;
	padding: 5px;
}

textarea.textarea_type02 {
	background-color: #ffffff;
	border:1px solid #FED39F;
	width: 400px;
	height:80px;
	font-family: Arial;
	font-size: 8px;
	color: #2a2a2a;;
	padding: 5px;
}




